[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pydantic = "*"
uvicorn = "*"

[dev-packages]
ipdb = "*"
pre-commit = "*"
flake8 = "*"
black = "==21.5b1"
flake8-black = "*"
isort = "*"
interrogate = "*"
django-coverage-plugin = "*"
coverage = "*"
factory-boy = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
